<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password Email</title>
</head>
<body>
  <div style="text-align: center; padding: 20px;">
    <img src="https://pbs.twimg.com/media/FwQQuvHagAYUobJ?format=jpg&name=small" alt="goat" style="max-width: 100%; height: auto;">
    <h1 style="color: blue; margin-top: 20px;">Hell♂️, {{name}}!</h1>
    <p>Click <a href="{{link}}">here</a> to reset y♂️ur passw♂️rd!</p>
  </div>
</body>
</html>
